* {
    box-sizing: border-box;
}

/* Styling the Calculator Interface*/
.view_history {
    position: relative;
    left: 74%;
}

.calculatorApp {
    border: 1px solid palegreen;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.computationDisplay {
    height: 50px;
}

.calculatorDisplay {
    width: 100%;
    border-radius: 6px;
    height: 50px;
    font-size: 40px;
}

.calcTopRowKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.calcGridKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0 20px 20px 20px;

}

.equal_sign {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 100%;
    background-color: #87D534;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 22px;
    border: none;
}

.orange {
    background-color: #FF9C33;
}

.red {
    background-color: #FFD6D6;
}

.shadeRed {
    background-color: #F47B7F;
}

.complex {
    background-color: #D6D6FF;
}