* {
    box-sizing: border-box;
}

/* Styling the Calculator Interface*/
.view_history {
    position: relative;
    left: 74%;
}

.calculatorApp {
    border: 1px solid palegreen;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.calcTopRowKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.calcGridKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0 20px 20px 20px;

}